
This is for predicting housing prices under the Kaggle Competition 
- Link [Here](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview)

In [1]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



train = pd.read_csv('./datasets/house-prices-advanced-regression-techniques/train.csv')
test = pd.read_csv('./datasets/house-prices-advanced-regression-techniques/test.csv')


train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [41]:

t = train.select_dtypes(object)
print(t.loc[:, t.nunique() > 5].columns)



t.columns[t.nunique() > 5 & t.dtypes == 'object']

Index(['Neighborhood', 'Condition1', 'Condition2', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'Foundation', 'BsmtFinType1',
       'BsmtFinType2', 'Heating', 'Functional', 'GarageType', 'SaleType',
       'SaleCondition'],
      dtype='object')

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [2]:

print(train.dtypes.value_counts())

print(train.YrSold.value_counts(dropna=False))

print(train.PoolQC.unique())

object     43
int64      35
float64     3
Name: count, dtype: int64
YrSold
2009    338
2007    329
2006    314
2008    304
2010    175
Name: count, dtype: int64
[nan 'Ex' 'Fa' 'Gd']

In [3]:

def transform_features(df):
    df = (
    df.assign(YrSold=lambda x: x.YrSold.astype('category'),
              )
    )
    return df



transform_features(train)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
def encode_columns(df):
    one_hot_encoded_columns = []
    for col in df.columns:
        if len(df[col].unique()) <= 5:
            one_hot_encoded_columns.append(col)
            
    return one_hot_encoded_columns

In [20]:
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

from category_encoders import TargetEncoder

import sklearn
sklearn.set_config(transform_output="pandas")


y = train['SalePrice']
X = train.drop('SalePrice', axis=1)

#one_hot_encoded_columns= one_hot_encoded_columns.remove("SalePrice")

column_trans = make_column_transformer(
    (TargetEncoder(), make_column_selector(dtype_exclude=[np.number])),
    verbose_feature_names_out=False, remainder='passthrough'
)

object_trans = make_column_transformer(
    (OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), make_column_selector(dtype_include=object)),
    verbose_feature_names_out=False, remainder='passthrough'
)

imputer = make_column_transformer(
    (SimpleImputer(strategy="most_frequent"), make_column_selector(dtype_include=[np.generic])),
     remainder='passthrough', verbose_feature_names_out=False
)

pipe = make_pipeline(column_trans, object_trans, imputer,)



from sklearn.model_selection import cross_val_score


cross_val_score(make_pipeline(pipe, LinearRegression()), X,y, cv=3, scoring='neg_root_mean_squared_error')



pipe.fit_transform(X,y).shape

(1460, 80)

Let's try rigdge Regression

In [6]:

params = {'ridge__alpha':  np.linspace(25,35,40)}


from sklearn.linear_model import Ridge
from sklearn.model_selection import RandomizedSearchCV

ridge = Ridge()
ridge = make_pipeline(pipe, ridge)

rscv = RandomizedSearchCV(
    ridge,
    params,
    cv=4, 
    scoring='neg_root_mean_squared_error',
    return_train_score=True,
    refit=True
)


rscv.fit(X,y)
print(rscv.best_score_)
print(rscv.best_params_)

/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)
/Users/alexander.norton/Documents/Machine-Learning/.conda/lib/python3.11/site-packages/category_encoders/ordinal.py:198: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[column] = X[column].astype("object").fillna(np.nan).map(col_mapping)

-33031.666884764665
{'ridge__alpha': 28.58974358974359}

Let's Try Polynomial Regression

In [7]:

from sklearn.preprocessing import PolynomialFeatures


# cross_val_score(make_pipeline(pipe, PolynomialFeatures(degree=2), LinearRegression()), X,y, cv=3, scoring='neg_root_mean_squared_error', verbose=True)

array([-423259.10140139, -541404.99371108, -363075.51181738])

Let's try XGBoost

In [8]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2, shuffle=True, random_state=42)

#cross_val_score(make_pipeline(pipe, XGBRegressor(n_estimators=1000)), X,y, cv=3, scoring="neg_root_mean_squared_error", verbose=True)


xgboostr = XGBRegressor(n_estimators = 1000, learning_rate=.05)

pipe = make_pipeline(pipe, xgboostr)
model = pipe.fit(X_train,y_train)

In [19]:
from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestRegressor


selector = RFECV(RandomForestRegressor(), step=1, cv=5, scoring="neg_root_mean_squared_error", min_features_to_select=15)


X = pipe.fit_transform(X,y)
selector.fit(X,y)

print(selector.support_)

[False False False False False False False False  True False False False
 False False False False False False  True False False  True False  True
 False False False False False False  True False  True  True False False
 False False False False False False False  True False  True  True  True
  True  True  True  True  True False  True  True  True  True False  True
 False False False False False False  True False  True  True  True  True
  True False False False False False  True False]

# Submission

In [22]:
X

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal

In [10]:
results = model.predict(test)

submission = pd.DataFrame()

submission['Id'] = test.Id
submission['SalePrice'] = results

submission.to_csv("submissions/HousingPrices.csv", header=True, index=False)